<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>AG-Collections</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <main>
        <header>
            <div class="main__hdr">
                <div class="main__hdr-wrap d-flex">
                    <!-- Logo  -->
                    <div class="main__logo">
                        <a href=""><img src="images/logo.png" alt="Logo"></a>
                    </div>
                    <!-- right contents -->
                    <div class="hdr__content">
                        <div class="hdr__contentwrap d-flex">
                            <div class="hdr__btnwrap mob-hidden">
                                <button class="btnAg btn-border text-black btn__hdr ">
                                    contact us
                                </button>
                            </div>

                            <div class="hdr__langswitch switch switch--horizontal">
                                <input id="radio-a" type="radio" name="first-switch" checked="checked" />
                                <label for="radio-a">en</label>
                                <input id="radio-b" type="radio" name="first-switch" />
                                <label for="radio-b">ar</label><span class="toggle-outside"><span
                                        class="toggle-inside"></span></span>
                            </div>
                            <div class="hdr__menu-btn">
                                <button class="burger"></button>


                                <div class="menu">
                                    <div class="toggle__menu text-white">
                                        <div class="menu__container">
                                            <div class="menu__list">
                                                <ul>
                                                    <li><a href="">home</a></li>
                                                    <li><a href="">the vision</a></li>
                                                    <li><a href="">the collection</a></li>
                                                    <li><a href="">journal</a></li>
                                                    <li><a href="">contact us</a></li>
                                                </ul>
                                            </div>
                                            <div class="head__social">
                                                <ul> 
                                                    <li><a href=""><img src="images/Whatsapp.png" alt="Whatsapp"></a></li>
                                                    <li><a href=""><img src="images/Instagram.png" alt="Instagram"></a></li>
                                                    <li><a href=""><img src="images/Facebook.png" alt="Facebook"></a></li>
                                                    <li><a href=""><img src="images/Linkedin.png" alt="Linkedin"></a></li>
                                                </ul>
                                            </div>
                                            <div class="head__email">
                                                <a href="mailto:info@alghuraircollection.com">info@alghuraircollection.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>