.ar__theme {
    header {
        direction: ltr;
    }

    .main__logo.mob-hidden img {
        width: 186px;
        height: 58px;
    }

    .btn__hdr {
        width: 160px;
    }

    .hdr__contentwrap {
        align-items: center;
    }

    .switch {
        display: block;
    }

    .hdr__btnwrap {
        margin-right: 0;
    }

    .homepage__content .homepage__content-left .homepage__content-title {
        font-family: "Noto Kufi Arabic", sans-serif;
        max-width: 827px;
        font-size: 75px;
        font-weight: 400;
    }

    footer .footer__newstitle h6 {
        text-align: right;
    }

    footer .footer__newsinput .button__hover {
        right: auto;
        left: 0px;
    }

    footer .footer__newsinput .button__hover svg {
        transform: rotate(180deg);
    }

    .homepage__slidersection .homepage__slidertext h5 {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        direction: ltr
    }

    .footer__newsinput:hover .button__hover svg {
        transform: rotate(-60deg) !important;
    }

    .partners_link {
        left: 20px;
        right: auto;
    }

    .whatwevalue_para h5 {
        text-align: right;
    }

    .partners_link {
        padding: 7px 30px 7px 50px;
    }

    .partners_link .button__hover {
        left: 0px;
        right: auto;
    }

    .partners_link .button__hover svg {
        transform: rotate(180deg);
    }

    .partners_link:hover .button__hover svg {
        color: #000000;
        transform: rotate(-60deg) !important;
    }

    .visionh3 {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
    }

    .vision_fulldiv {
        direction: ltr;
    }

    .vision_smallpara {
        margin-left: 0;
        text-align: right;
        font-size: 16px;
    }

    .value_div p {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .ourpart_head {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .partners_namehead {
        margin-right: 40px;
    }

    .partLeftIcon {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .collection__title {
        direction: rtl;
    }

    .collection__title h3 {
        text-align: right;
        font-family: "Noto Kufi Arabic", sans-serif;
        font-size: 60px;
    }

    .collection__cont {
        float: left;
    }

    .homepage__slidercontent {
        width: 100%;
    }

    .homepage__slidersection .homepage__slidertext h5 {
        text-align: center;
    }

    .ftr__social li {
        margin-left: 22px;
        margin-right: 0px;
    }

    footer .footer__newsinput input[type="text"] {
        padding: 10px 21px;
        font-size: 16px;
    }

    .visionh3 {
        text-align: right;
    }

    .home__videocontent h2 {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    footer .footer__newstitle h6 {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .footer__container .footer__link p {
        font-size: 14px;
    }

    .hover__menuContainer {
        direction: ltr;
    }

    .contact__containerwrap label {
        right: 15px;
        left: auto;
    }

    .contact_formsubs label {
        text-align: right;
    }

    .contact__containerwrap .contact__title {
        font-family: "Noto Kufi Arabic", sans-serif;
        width: 100%;
    }

    .contact_formsubs {
        padding-right: 10px;
        padding-left: 0;
    }

    .input__btn {
        padding-left: 0px;
        margin-right: 10px;
    }

    .input__btn .button__hover {
        left: 0px;
        right: auto;
        margin-left: 10px;
    }

    .submit__btn {
        text-align: right;
    }

    .input__btn .button__hover svg {
        transform: rotate(180deg);
    }

    .contact__successcontent {
        padding-left: 0;
        padding-right: 68px;
    }

    .contact__successcontainer h3 {
        text-align: right;
        font-size: 60px;
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .contact__successcontainer .error__title {
        margin-left: 30px;
        margin-right: 0px;
    }

    .hover__menuwrap .button__hover {
        left: 0px;
        right: auto;
        /* margin-left: 10px; */
    }

    .hover__menuwrap .btnAg {
        text-align: right;
    }

    .hover__menuwrap .button__hover svg {
        transform: rotate(180deg);
    }

    .btn_takemeback .button__hover {
        left: 0px;
        right: auto;
    }

    .btn_takemeback svg {
        transform: rotate(180deg);
    }

    .contact__successcontainer p {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-size: 30px;
    }

    .contact__successcontainer .btn_takemeback {
        width: 183px;
        text-align: right;
    }

    .blog-post-title {
        font-family: "Noto Kufi Arabic", sans-serif;
        text-align: right;
        font-weight: 400;
    }

    .blog-post-date {
        line-height: 28px;
    }

    .blog-post-excerpt {
        line-height: 28px;
        font-size: 16px;
        max-width: 520px;
    }

    .card-date {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }

    .card-excerpt strong {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .card-excerpt {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }

    .card-details .btnAg {
        min-width: 143px;
        max-width: 143px;
    }

    .Newsarticle_head {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
    }

    .newsart_date {
        font-size: 16px;
        font-style: normal;
        font-weight: 380;
        line-height: 28px;
    }

    .backtonews_div {
        width: auto;
        display: inline-block;
    }

    .backtonewsArrow {
        top: 0px;
    }

    .newsart_rightpara p {
        margin-bottom: 20px;
        line-height: 28px;
    }
    .backtonews_div .btnAg{
        min-width: 180px;
    }
    .backtonews_div .button__hover {
        left: 0px;
        right: auto;
    }

    .backtonews_div svg {
        transform: rotate(180deg);
    }
    .footer__container .footer__col a:hover,.footer__container .footer__col p:hover{
        text-decoration: none;
        opacity: 0;
    }
    .footer__link a:hover, .footer__link p:hover{
        opacity: 1 !important;
    }
}

[dir='rtl'] .slick-slide {
    float: left
}

@media screen and (max-width: 1024px) {
    .ar__theme {
        .home__videocontainer {
            direction: ltr;
        }
    }
}