@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-SemiBold.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-SemiBold.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Medium.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Medium.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Medium.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-LightItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-MediumItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-MediumItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-MediumItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-RegularItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Bold.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-RegularItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-RegularItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-SemiBold.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Bold.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-BoldItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Bold.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-BoldItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-BoldItalic.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Heavy.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Heavy.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    
}

@font-face {
    font-family: 'Saans TRIAL';
    src: url('../fonts/SaansTRIAL-Heavy.woff2') format('woff2'),
        url('../fonts/SaansTRIAL-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    
}

