<!-- contact -->
<div class="contact__container">
    <div class="contact__containerwrap">
        <div class="contact__title">Get in touch</div>
        <div class="contact__row d-flex">
            <div class="contact__details">
                <p>address line 1</p>
                <p>address line 2</p>
                <p>postcode</p>
                <div class="contact__email">
                    <a href="mailto: info@alghuraircollection.com"> info@alghuraircollection.com</a>
                </div>
                <div class="contact__phone">
                    <a href="tel:+555 555 555">+555 555 555</a>
                </div>
            </div>
            <div class="contact__form">
                <form action="" class="contact-form" id="contactForm">
                    <div class="row__cls">
                        <div class="wd-50 group">
                            <!-- <input type="text" required="required"/> -->
                            <input type="text" class=" contactFormName" id="contactFormName" name="contactFormName"
                                type="text" placeholder="" data-required="Name is required"
                                data-alphabetsnspace="Please Enter Only Letters"
                                data-minLength="Your name must consist of at least 2 characters" required="required" />
                            <span class="highlight"></span><span class="bar"></span>
                            <label>Full name*</label>
                        </div>

                        <!-- email  -->
                        <div class="wd-50 group">
                            <input type="email" class="email" id="email" name="email" data-required="Email is required"
                                placeholder="" required="required" />
                            <span class="highlight"></span><span class="bar"></span>
                            <label class="form-label">Email*</label>
                        </div>
                        <!-- country -->
                        <div class="wd-50 group">
                            <input type="text" class="contactFormCountry" id="contactFormCountry"
                                name="contactFormCountry" type="text" placeholder="" data-required="Country is required"
                                data-alphabetsnspace="Please Enter Only Letters"
                                data-minLength="Country must consist of at least 2 characters" required="required">
                            <span class="highlight"></span><span class="bar"></span>
                            <label class="form-label">Country*</label>
                        </div>
                        <!-- phone  -->
                        <div class="wd-50 group">
                            <input type="number" class="contactFormPhone " id="contactFormPhone" value=""
                                name="contactFormPhone" placeholder="" data-required="Phone is required"
                                required="required">
                            <span class="highlight"></span><span class="bar"></span>
                            <label class="form-label">Phone number*</label>
                        </div>
                    </div>
                    <!-- broker  -->
                    <div class="wd-100 group">
                        <select class="contactbroker" id="contactbroker" value="" name="contactbroker"
                            data-required="This is required">
                            <option value="">Are you a Broker*</option>
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    <!-- hear  -->
                    <div class="wd-100 group">
                        <select class=" contacthear" id="contacthear" value="" name="contacthear"
                            data-required="This is required">
                            <option value="">How did you hear about us?*</option>
                            <option value=""> Al Ghurair Site</option>
                            <option value="">Broker</option>
                            <option value="">Google Search</option>
                            <option value="">Online Article</option>
                            <option value="">Print Article</option>
                            <option value="">Referral</option>
                            <option value="">Social Media</option>
                        </select>
                    </div>
                    <!-- interested -->
                    <div class="wd-100 group">
                        <select class=" contactinterest" id="contactinterest" value=""
                            name="contactinterest" data-required="This is required">
                            <option value="">I am interested in*</option>
                            <option value="">2 Bedroom Apartment</option>
                            <option value="">3 Bedroom Apartment</option>
                            <option value="">Penthouse</option>
                            <option value="">Sky Villa</option>
                        </select>
                    </div>
                    <!-- message  -->
                    <div class="wd-100 msgBox group">
                        <textarea placeholder="" class="message contactFormMessage effect-16"
                            id="contactFormMessage " name="contactFormMessage"
                            data-required="Message is required"></textarea>
                        <label class="form-label">Message*</label>
                    </div>
                    <div class="group input__btn">
                        <input type="submit" class="btn btn-medium btn-transparent text-black submit__btn"
                            value="submit">
                        <div class="button__hover">
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.9473 10.3413L25.697 17.094L18.9473 23.8438" stroke="#fff"
                                    stroke-miterlimit="10"></path>
                                <path d="M25.697 17.0938H8.69067" stroke="#fff" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>