/* Styles for Other Pages */

/***************  The Vision Page  CSS  **********************/

.visionh3{
    font-size: 80px;
    font-style: normal;
    font-weight: 380;
    line-height: 90px;
}

.paramain{
    margin-top: 100px;
    margin-bottom: 100px;
}

.vision_smallpara{
    color: #000;
    font-family: "Saans TRIAL";
    font-size: 20px;
    font-style: normal;
    font-weight: 380;
    line-height: 30px;
    width: 36%;
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 100px;
}

.vision_diamondImages{
    margin-top: 100px;
    margin-bottom: 100px;
}

.diamondshape{    
    -webkit-mask-box-image: url(./../svg/Diamond_Guidelines.svg) ;
    mask-image: url(./../svg/Diamond_Guidelines.svg);    
    mask-position: center;
    mask-repeat: no-repeat;   
}

.diamondshape:hover {
    -webkit-mask-box-image: none;
    mask-image: none;
}

.whatwevalue_para{
    margin-top: 50px;
    margin-bottom: 100px;
}

.visionimage_2{
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.visionimage_3{
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;    
    border-left: solid 30px #000;
    border-right: solid 30px #000;
    background: #000;
}



.vision_ourpartners{
    margin-top: 50px;
    padding-bottom: 50px; 
    padding-top: 100px;
    padding-bottom: 100px;
    border-left: solid 30px #000;
    border-right: solid 30px #000;
    background: #000;
}

.vision_ourpartners p{
    font-size: 30px;
    font-style: normal;
    color: white;
    margin-bottom: 20px;
}

.ourpart_head{
    font-size: 60px;
    font-style: normal;
    font-weight: 380;
    line-height: 70px;
    color: white;
    width: 50%;
    margin-bottom: 140px;
}

.value_div{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
    display:flex;
}

.value_div p{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

.value_smalltext{
    width: 600px;
    margin-left: auto; 
    margin-right: 0;
    text-align: justify;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 72px;
 }

 .val_number{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 5.5%;
    padding-top: 1.2%;
 }

 .whatwevalue_para h5{
    color: rgba(0, 0, 0, 0.30);
    font-family: Saans;
    font-size: 30px;
    font-family: Saans;
 }

 .partners_namehead{
    font-size: 80px;
    font-style: normal;
    font-weight: 380;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    opacity: 0.6;
    cursor: pointer;
 }

 .partners_namehead:hover{
    opacity: 1;
 }

 .partners_name{
    border-bottom: 1px solid #fff;
    opacity: 0.6;
    position: relative;
 }

 .partners_link{
    color: white;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 7px 0px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
 }

 .arrowright{
    /*background: url(./../images/arrowleft.png); */
    background-size: 80%;
    background-repeat: no-repeat;
    display: inline-block;
 }

 .visionpage_box{
    padding-top: 116px;
 }

/***************  News Article  CSS  **********************/

 .Newsarticle_head{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 523px;
 }

 .newsarticle_cont{
    padding-top: 116px;
 }

 .newsart_content{
    padding-top: 100px;
    margin-bottom: 35px;
 }

 .newsart_date{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.30);
    margin-bottom: 20px;
 }

 
.backtonewsbtn{
    color: #000;
    border-radius: 100px;
    border: 1px solid #000;
    background: white;
    padding: 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 48px;
    float: left;
}


 .backtonews_div{
    position: relative; 
 }

 .backtonewsArrow{
    background:url("./../images/ArrowBlackLeft.png") no-repeat;  
    height: 34px;
    width: 34px;
    display: inline-block;
    background-size: 34px 34px;
    top: 1px;
    left: 0px;
    position: absolute;
}

 .newsart_imagecont{
    margin-top: 75px;
    margin-bottom: 50px;
 }

.NewsArt_ImgDiv{
    max-width: 599px;
    max-height: 500px;
}


.NewsArt_ImgDiv img{
    object-fit: cover;
    width: 599px;
    height: 500px;
    border-radius: 10px;
}

.NewsArt_ImgDiv_2{
    max-width: 751px;
    max-height: 500px;
}

.NewsArt_ImgDiv_2 img{
    object-fit: cover;
    width: 751px;
    height: 500px;
    border-radius: 10px;
}

.prevnextbtn_box{
    background: #000;
    height: 35px;
    border-radius: 100px;
    position: relative;
}

.prevnextbtn_box a.prev_link{
    color: #000;
    border-radius: 100px;
    border: 1px solid #000;
    background: white;
    padding: 5px 10px;
    font-size: 16px;
    float: left;
    text-transform: uppercase;
    padding-left: 45px;
}

.leftarrow{
    background:url("./../images/ArrowBlackLeft.png") no-repeat;  
    height: 34px;
    width: 34px;
    display: inline-block;
    background-size: 34px 34px;
    top: 1px;
    left: 0px;
    position: absolute;
}

.rightarrow{
    background:url("./../images/ArrowBlack1.png") no-repeat;  
    height: 34px;
    width: 34px;
    display: inline-block;
    background-size: 34px 34px;
    background-size: 34px 34px;
    top: 1px;
    right: 0px;
    position: absolute;
}

.prevnextbtn_box a.next_link{
    color: #000;
    float:right;
    border-radius: 100px;
    border: 1px solid #000;
    background: white;
    padding: 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 80px;
}

