/* Styles for Other Pages */

.visionh3{
    font-size: 80px;
    font-style: normal;
    font-weight: 380;
    line-height: 90px;
}

.paramain{
    margin-top: 100px;
    margin-bottom: 100px;
}

.vision_smallpara{
    color: #000;
    font-family: "Saans TRIAL";
    font-size: 20px;
    font-style: normal;
    font-weight: 380;
    line-height: 30px;
    width: 36%;
    float: right;
    margin-bottom: 100px;
}