/* Styles for Other Pages */

body{
    background-image: url("/dev/images/bglight_blue.png");  
}

.visionh3{
    font-size: 80px;
    font-style: normal;
    font-weight: 380;
    line-height: 90px;
}

.paramain{
    margin-top: 100px;
    margin-bottom: 100px;
}

.vision_smallpara{
    color: #000;
    font-family: "Saans TRIAL";
    font-size: 20px;
    font-style: normal;
    font-weight: 380;
    line-height: 30px;
    width: 36%;
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 100px;
}

.vision_diamondImages{
    margin-top: 100px;
    margin-bottom: 100px;
}

.diamondshape{    
    -webkit-mask-box-image: url(./../svg/Diamond_Guidelines.svg) ;
    mask-image: url(./../svg/Diamond_Guidelines.svg);    
    mask-position: center;
    mask-repeat: no-repeat;   
}

.diamondshape:hover {
    -webkit-mask-box-image: none;
    mask-image: none;
}

.whatwevalue_para{
    margin-top: 50px;
    margin-bottom: 50px;
}

.visionimage_2, .visionimage_3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.visionimage_2 img, .visionimage_3 img{
    opacity: 0.7;
}

.vision_ourpartners{
    margin-top: 50px;
    margin-bottom: 50px;
}

.vision_ourpartners{
  background-image: url("/dev/images/bgdarkgreen.PNG");  
  min-height: 500px;
}


.value_div{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.value_div p{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
}

.value_smalltext{
    display: inline-block;
    width: 40%;
    margin-left: auto; 
    margin-right: 0;
}