<!-- Video  -->
<div class="home__video">
    <div class="home__videocontainer">
        <div class="home__videorow">
            <video autoplay muted loop playsinline preload="metadata">
                <source src="images/video.mov" type="video/mp4">
            </video>
            <div class="home__videocontent">
                <h2> Artistry in Every Expression</h2>
                <div class="video__btn">
                    <button class="btnAg btn-medium btn-transparent text-white btn__watchvideo toZoom">
                        watch video
                        <div class="button__hover ">
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
    
                                <path d="M18.9473 10.3413L25.697 17.094L18.9473 23.8438" stroke="#fff"
                                    stroke-miterlimit="10"></path>
                                <path d="M25.697 17.0938H8.69067" stroke="#fff" stroke-miterlimit="10"></path>
                            </svg>
    
    
                        </div>
                    </button>

                  
                </div>

            </div>

        </div>
        <!-- The Modal -->
        <div class="video-container">
            <video id="myVideo" width="100%">
                <source src="images/video.mov" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="controls">

                <div id="playPauseBtn">
                    <img src="images/icons/play.png" alt="" class="video-play">
                    <img src="images/icons/pause.svg" alt="" class="video-pause">
                </div>
                <input type="range" id="progressBar" value="0">
                <!-- <button id="stopBtn">Stop</button> -->

                <div id="muteBtn">
                    <img src="images/icons/mute.svg" alt="" class="video-mute">
                    <img src="images/icons/unmute.png" alt="" class="video-unmute"></a>
                </div>
                <a href="" class="videotoggle"><img src="images/icons/toggle.svg" alt=""></a>
            </div>
        </div>
    </div>
    <!-- Home page vision -->
    <div class="homepage__content">
        <div class="homepage__content-wrap d-flex">
            <div class="homepage__content-left">
                <button class="btnAg btn-border text-black ">
                    see our vision
                    <div class="button__hover button__black__hover">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">

                            <path d="M18.9473 10.3413L25.697 17.094L18.9473 23.8438" stroke="#000" stroke-miterlimit="10"></path>
                            <path d="M25.697 17.0938H8.69067" stroke="#000" stroke-miterlimit="10"></path>
                        </svg>


                    </div>
                </button>
                <div class="homepage__content-title">
                    Modern masterpieces shaping skylines
                </div>
            </div>
            <div class="homepage__content-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem unde quis accusamus
                    laudantium nobis voluptate voluptatibus laboriosam aspernatur repudiandae doloremque modi quae
                    nihil,
                    maiores, minus optio tenetur quo dolores.</p>
            </div>
        </div>
    </div>
    <!-- homepage slider  -->
    <div class="homepage__slider">
        <div class="homepage__slidersection">
            <div class="homepage__sliderwrap">
                <div class="homepage__singleslider">
                    <img src="images/variant1.png" alt="Image">
                </div>
                <div class="homepage__singleslider">
                    <img src="images/variant2.png" alt="Image">
                </div>
                <div class="homepage__singleslider">
                    <img src="images/variant3.png" alt="Image">
                </div>
                <div class="homepage__singleslider">
                    <img src="images/variant4.png" alt="Image">
                </div>
            </div>
            <div class="homepage__slidercontent">
                <div class="homepage__slidertext">
                    <h5>the collection</h5>
                    <button class="btnAg btn-border text-white btn__collection">
                        see our collection
                        <div class="button__hover">
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.9473 10.3413L25.697 17.094L18.9473 23.8438" stroke="#fff" stroke-miterlimit="10"></path>
                                <path d="M25.697 17.0938H8.69067" stroke="#fff" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <!-- About us content  -->
    <div class="homepage__content">
        <div class="homepage__content-wrap d-flex">
            <div class="homepage__content-left">
                <button class="btnAg btn-border text-black ">
                    more about us
                    <div class="button__hover button__black__hover">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">

                            <path d="M18.9473 10.3413L25.697 17.094L18.9473 23.8438" stroke="#000" stroke-miterlimit="10"></path>
                            <path d="M25.697 17.0938H8.69067" stroke="#000" stroke-miterlimit="10"></path>
                        </svg>
                    </div>
                   
                </button>
                <div class="homepage__content-title">
                    Pushing boundaries
                    in design + lifestyle
                </div>
            </div>
            <div class="homepage__content-right">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Nunc molestie nullam eu pretium scelerisque at. Tristique
                    faucibus nam pellentesque scelerisque felis sed vitae sagittis vitae. Nec sed et luctus ut arcu
                    malesuada. Est purus amet ornare mauris mattis aliquam egestas. Amet ipsum pretium commodo
                    sollicitudin
                    praesent et consectetur.
                </p>
            </div>
        </div>
    </div>
    <!-- Picture  -->
    <div class="homepage__img">
        <div class="homepage__imgwrap">
            <img src="images/bg-pic.png" alt="background">
        </div>
    </div>